@import url("https://fonts.googleapis.com/css2?family=Aldrich&family=Fuzzy+Bubbles:wght@400;700&family=Inter:wght@300;400;500;600;700;800&family=Josefin+Sans:wght@300;400;600;700&family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap");
* {
  background-color: #fdfbf8;
  font-family: "Aldrich", sans-serif;
  font-family: "Fuzzy Bubbles", cursive;
  font-family: "Inter", sans-serif;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Raleway", sans-serif;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.aboutus {
  background-color: #fdfbf8;
  margin-left: 9%;
  display: flex;
  flex-direction: row-reverse;
}

.flex {
  width: 53%;
}
.about__img {
  width: 34rem;
  margin-left: -5%;
  margin-top: 2%;
}

.about__header {
  color: black;
  margin-top: 10rem;
  margin-left: 3rem;
}

.aboutus__title {
  font-family: Ogg Regular;
  font-weight: 400;
  color: #7F2649;
  font-size: 3rem;
}

.about__text {
  color: #7F2649;
  margin-top: 20px;
  font-size: 1.35rem;
}

.text{
  font-family: Neue Hass Unica Regular;
  font-size: 20px;
  font-weight: 400;
}
