@import url("https://fonts.googleapis.com/css2?family=Aldrich&family=Fuzzy+Bubbles:wght@400;700&family=Inter:wght@300;400;500;600;700;800&family=Josefin+Sans:wght@300;400;600;700&family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap");
* {
  background-color: #fdfbf8;
  font-family: "Aldrich", sans-serif;
  font-family: "Fuzzy Bubbles", cursive;
  font-family: "Inter", sans-serif;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Raleway", sans-serif;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
}

header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transform-style: preserve-3d;
  z-index: -1;
}

.background {
  transform: translateZ(-10px) scale(2);
}

.foreground {
  transform: translateZ(-5px) scale(1.5);
}

.background,
.foreground {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

.title {
  font-size: 7rem;
  color: rgb(207, 160, 160);
  text-shadow: 0 0 5px black;
}

section {
  font-size: 2rem;
  padding: 2rem;
  background-color: rgb(7, 6, 6);
  color: black;
}
