.add-list {
  margin-top: 2%;
}
.add-inputs {
  /* display: block;
  margin: auto; */
  border: none;
  border-bottom: 1px solid #7f2549;
  border-radius: 0;
  color: #7f2549;
  font-family: Ogg Regular;
  padding: 0.4375rem 1.125rem;
  text-align: left;
  width: 35%;
  font-size: 133%;
  margin-left: -7%;
}

.add-title {
  color: #000914;
  font-family: Ogg Regular;
  margin-left: -6% !important;
  font-weight: 400;
  font-size: 48px;
  margin: 10px 0px 30px;
  line-height: 1.15;
}

.select-category {
  /* -webkit-appearance: none; */
  border: none;
  outline: none;
  border-radius: 0;
  border-bottom: 1px solid #7f2549;
  color: #7f2549;
  width: 35%;
  padding: 1%;
  margin-left: -7%;
}

.image-inputs {
  color: #7f2549;
  width: 35%;
  margin-left: -7%;
  padding: 1%;
}

.pagination {
  color: black;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 427px;
  margin: auto;
  text-align: center;
  font-family: arial;
  display: inline-block;
}

.card button {
  outline: 0;
  padding: 12px;
  color: #7f2549;
  background-color: #fdfbf8;
  border: 1px solid #7f2549;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  border-radius: 1px;
  margin-left: 0%;
}

.card button:hover {
  background-color: #7f2549;
  color: #fdfbf8;
  transition: 0.5s;
}

.image-card {
  width: 100%;
}

.title-card {
  display: block;
  font-family: Ogg Regular;
  font-weight: 500;
}

.collaction-title {
  font-family: Ogg Regular;
  font-weight: 500;
  color: #7f2549;
  margin-left: 10%;
}
