/* @import url("https://fonts.googleapis.com/css2?family=Aldrich&family=Fuzzy+Bubbles:wght@400;700&family=Inter:wght@300;400;500;600;700;800&family=Josefin+Sans:wght@300;400;600;700&family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap");

* {
  background-color: #fdfbf8;
  font-family: "Aldrich", sans-serif;
  font-family: "Fuzzy Bubbles", cursive;
  font-family: "Inter", sans-serif;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Raleway", sans-serif;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

.container {
  width: 48%;
  display: flex;
  margin-left: 40%;
  margin-top: -43%;
}

.section {
  background-color: #fdfbf8;
  display: flex;
}

.images__item {
  width: 38rem;
  border-radius: 20rem;
  margin: 2rem;
}

.section__header {
  margin-top: 17rem;
  margin-left: 3rem;
}

.section__title {
  font-size: 3rem;
}

.section__text {
  font-size: 1.25rem;
  color: black;
}
