/* @import url("https://fonts.googleapis.com/css2?family=Aldrich&family=Fuzzy+Bubbles:wght@400;700&family=Inter:wght@300;400;500;600;700;800&family=Josefin+Sans:wght@300;400;600;700&family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap"); */

/* background-color: #fdfbf8; */
/* font-family: "Aldrich", sans-serif;
  font-family: "Fuzzy Bubbles", cursive;
  font-family: "Inter", sans-serif;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Raleway", sans-serif; */

/* margin: 0;
  padding: 0;
  box-sizing: border-box; */

h1 {
  display: inline;
}

p {
  font-size: 18px;
  font-weight: 600;
  display: inline;
}

a {
  padding: 1%;
  font-family: "Josefin Sans", sans-serif;
  text-decoration: none;
  color: #7f2549;
  cursor: pointer;
}

.navbar {
  min-height: 10vh;
}

.logo {
  margin-left: 30%;
}

::placeholder {
  color: #7f2549;
  font-size: 15px;
}

input {
  outline: none;
  border: none;
  border-bottom: 1px solid maroon;
}

.search {
  margin-left: 13%;
  line-height: 25px;
  color: #7f2549;
}

.auth-icon {
  margin-left: 3%;
  cursor: pointer;
  color: maroon;
}

.add-product-icon {
  margin-left: 1%;
  cursor: pointer;
  color: maroon;
}

.register-inputs,
.login-inputs {
  /* display: block;
    margin: auto; */
  border: none;
  border-bottom: 1px solid #7f2549;
  border-radius: 0;
  color: #7f2549;
  font-family: Ogg Regular;
  padding: 0.4375rem 1.125rem;
  text-align: left;
  width: 35%;
  font-size: 133%;
  margin-left: -7%;
}

.register-form {
  margin: 80px 180px 0px;
}

.register-title,
.login-title,
.create-account-title {
  color: #000914;
  font-family: Ogg Regular;
  margin-left: -4% !important;
  font-weight: 400;
  font-size: 48px;
  margin: 10px 0px 30px;
  line-height: 1.15;
}

li {
  list-style-type: none;
  margin-left: 42%;
}
/* 
  .btn-register .btn-login {
    color: #fdfbf8;
    background-color: #7f2549;
    padding: 7px 34px 9px;
    text-transform: uppercase;
    display: inline-block;
    margin-left: 38%;
    margin-top: 1%;
    width: 20%;
    cursor: pointer;
    border: 1px solid #7f2549;
    transition: 0.5s;
  } */

button {
  color: #fdfbf8;
  background-color: #7f2549;
  padding: 7px 34px 9px;
  text-transform: uppercase;
  display: inline-block;
  margin-left: 38%;
  margin-top: 1%;
  width: 20%;
  cursor: pointer;
  border: 1px solid #7f2549;
  transition: 0.5s;
}

button:hover {
  background-color: #fdfbf8;
  color: #7f2549;
  transition: 0.5s;
}

/* .btn-register,
  .btn-login:hover {
    background-color: #fdfbf8;
    color: #7f2549;
    transition: 0.5s;
  } */

.have-account,
.forgot-password {
  font-size: 14px;
  color: #464545;
  display: block;
  margin-left: 37%;
}

.register-list {
  margin-top: 4%;
}

.login-list {
  margin-right: 48px;
  width: 71%;
  margin-top: 4%;
}

.forgot-password {
  margin-left: 26%;
}

.line {
  border-right: 1px solid black;
  height: 400px;
  position: absolute;
  left: 49%;
  margin-left: -19px;
  top: 17%;
}

.create-account-title {
  position: absolute;
  left: 58%;
  margin-top: -230px;
}

.btn-click-register {
  margin-left: 52%;
  position: absolute;
  margin-top: -9%;
}

.user {
  color: #7f2549;
  font-size: 16px;
  margin-left: 3%;
  font-weight: 600;
}

.accept-user {
  color: #7f2549;
  position: absolute;
  margin-left: -21px;
  margin-top: 14px;
}

.loader {
  color: maroon;
}

.logout {
  width: 23px;
  cursor: pointer;
  position: absolute;
  margin-top: 13px;
  margin-left: 5px;
}
